<!DOCTYPE html>
<html lang="en" >
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"] - TechXpress</title>
	<script type="importmap"></script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="~/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/yeti-bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/Basic.css">

	<link rel="stylesheet" type="text/css" href="~/css/site.css">

<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>

					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a>

						 <partial name="_LoginPartial" />

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							USD
						</a>

						<partial name="_theme" />
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<svg  viewBox="0 0 35.721 8.033" xmlns="http://www.w3.org/2000/svg"><g stroke-width="1.41"><path d="M16.696.55a.672.672 0 01.789-.537c.363.074.6.433.527.803a.672.672 0 01-.788.538.683.683 0 01-.53-.801" fill="#e8851b"/><path d="M15.807 2.518c.621-.375.95-.132 1.074 1.227-1.055.967-1.676 1.559-2.65 2.6-.26.327-.32.943.112 1.159.414.153 1.394-.051 1.392-.535-.277-.147-.98-.124-.706-.436.302-.419 1.559-1.489 1.922-1.826.309.883.482 1.34.801 2.179.188.494.527.733.974.612.488-.11.975-.404 1.169-.885-.249-.52-.752.153-1.083.211-.307.042-.463-.656-.547-1.034-.137-.632-.354-1.446-.415-2.078.248-.256.846-.678 1.919-1.853.276-.303.26-.941-.184-1.114-.42-.115-.973.1-1.081.552.228.212.702.45.368.807-.412.44-.908.83-1.07.986-.277-.985-.68-1.867-1.558-1.531-.652.25-1.134.492-1.136.84.018.468.193.497.7.119z" style="-inkscape-font-specification:'MathJax_Caligraphic, Normal'" aria-label="X" font-size="16.933" font-family="MathJax_Caligraphic" fill="#e8851b"/><path d="M1.702 6.502V1.387H0V.377h6.705v1.01H2.85v5.115zm3.529.076c-.523 0-.905-.106-1.145-.317-.24-.212-.373-.56-.402-1.046a9.865 9.865 0 01-.011-.398 42.035 42.035 0 01.011-1.607c.036-.496.171-.849.406-1.06.238-.213.613-.319 1.126-.319.513 0 .885.104 1.117.31.233.207.36.548.383 1.023.003.056.004.155.004.298.003.14.003.296 0 .467 0 .169-.004.324-.011.467H4.818a30.622 30.622 0 00.015.942c.005.138.038.236.1.295.06.058.16.088.298.088.123 0 .21-.03.264-.088.056-.059.088-.157.096-.295.005-.061.007-.147.007-.257 0-.11-.002-.23-.007-.363h1.118a3.516 3.516 0 01.008.498c-.024.484-.151.833-.384 1.045-.23.211-.597.317-1.102.317zm-.413-2.97h.78c0-.092 0-.179-.003-.26 0-.082-.002-.151-.004-.207v-.108c-.008-.122-.041-.21-.1-.264-.056-.053-.148-.08-.275-.08-.133 0-.229.027-.287.08-.06.054-.091.142-.096.264a184.634 184.634 0 00-.015.575zm4.287.069c.003-.046.004-.113.004-.2.002-.089.002-.176 0-.26a2.98 2.98 0 00-.004-.184c-.008-.122-.04-.21-.1-.264-.056-.053-.148-.08-.275-.08-.133 0-.229.027-.287.08-.059.054-.09.142-.096.264a37.377 37.377 0 00-.015 1.16 44.794 44.794 0 00.015 1.145c.005.138.038.236.1.295.06.058.16.088.298.088.123 0 .21-.03.264-.088.056-.059.088-.157.096-.295.005-.061.008-.147.008-.256 0-.11-.003-.231-.008-.364h1.118a3.516 3.516 0 01.008.498c-.024.484-.151.833-.383 1.045-.23.211-.598.317-1.103.317-.523 0-.905-.106-1.144-.317-.24-.212-.374-.56-.402-1.046a9.865 9.865 0 01-.012-.398A42.035 42.035 0 017.2 3.21c.035-.496.17-.849.405-1.06.238-.213.613-.319 1.126-.319.513 0 .885.104 1.118.31.232.207.36.548.382 1.023a3.672 3.672 0 01-.007.513zm1.658 2.825V.377h1.148v2.029h.199c.107-.184.22-.326.337-.425.117-.1.296-.15.536-.15.319 0 .568.1.746.3.181.198.272.53.272.994v3.377h-1.148V3.026c0-.123-.032-.213-.096-.272-.061-.059-.152-.088-.272-.088a.717.717 0 00-.33.092.504.504 0 00-.244.237v3.507zm8.904 1.53V1.909h1.148v.498h.16c.108-.184.22-.326.338-.425.117-.1.296-.15.536-.15.319 0 .566.1.742.3.176.198.276.53.299.994.005.12.009.277.011.471.005.192.008.395.008.609 0 .214-.003.658-.008.852-.002.191-.006.107-.011.227-.023.462-.133.794-.33.996-.196.199-.454.298-.773.298a.77.77 0 01-.444-.13c-.125-.09-.247-.237-.367-.444h-.161v2.029zm1.646-2.288c.12 0 .22-.03.298-.088.08-.059.123-.15.13-.272.01-.15.018-.086.023-.285.005-.2.008-.648.008-.867 0-.22-.003-.434-.008-.643-.005-.21-.012-.397-.023-.563-.007-.123-.038-.213-.092-.272-.053-.059-.14-.088-.26-.088a.717.717 0 00-.33.092.504.504 0 00-.244.237v2.42a.585.585 0 00.195.252c.08.051.18.077.303.077zm2.155.758V1.908h1.148v.574h.2c.022-.227.089-.384.198-.47.11-.09.25-.135.421-.135a2.435 2.435 0 01.33.023v.873h-.314c-.294 0-.5.045-.617.134a.568.568 0 00-.218.364V6.5zm4.046.076c-.523 0-.905-.106-1.145-.317-.24-.212-.373-.56-.402-1.046a9.865 9.865 0 01-.011-.398 42.035 42.035 0 01.011-1.607c.036-.496.171-.849.406-1.06.238-.213.613-.319 1.126-.319.513 0 .885.104 1.117.31.233.207.36.548.383 1.023.003.056.004.155.004.298.003.14.003.296 0 .467 0 .169-.004.324-.011.467H27.1a30.622 30.622 0 00.015.942c.005.138.038.236.1.295.06.058.16.088.298.088.122 0 .21-.03.264-.088.056-.059.088-.157.096-.295.005-.061.007-.147.007-.256 0-.11-.002-.231-.007-.364h1.118a3.516 3.516 0 01.008.498c-.024.484-.151.833-.384 1.045-.23.211-.597.317-1.102.317zm-.413-2.97h.78c0-.092 0-.179-.003-.26 0-.082-.002-.151-.004-.207v-.108c-.008-.122-.041-.21-.1-.264-.056-.053-.148-.08-.275-.08-.133 0-.229.027-.287.08-.06.054-.091.142-.096.264a184.634 184.634 0 00-.015.575zm3.763 2.97c-.493 0-.846-.106-1.06-.317-.215-.212-.334-.56-.357-1.046a5.503 5.503 0 01.008-.497h1.003a21.556 21.556 0 000 .62c.007.138.046.236.115.295a.445.445 0 00.29.088c.159 0 .274-.03.345-.088.072-.059.107-.157.107-.295v-.245a.327.327 0 00-.057-.195c-.036-.056-.098-.096-.188-.119l-.543-.153a2.501 2.501 0 01-.594-.249 1.069 1.069 0 01-.382-.379 1.108 1.108 0 01-.134-.566v-.215c0-.495.112-.85.336-1.064.225-.214.613-.322 1.164-.322.498 0 .851.104 1.06.31.21.207.326.548.349 1.023a3.618 3.618 0 01-.008.513h-1.041c.002-.046.003-.113.003-.2.003-.089.003-.176 0-.26 0-.087-.001-.148-.003-.184-.008-.122-.039-.21-.092-.264-.051-.053-.14-.08-.268-.08-.138 0-.235.027-.291.08-.056.054-.087.142-.092.264a2.09 2.09 0 01-.008.123v.176c0 .095.018.175.054.241.036.067.112.114.23.142l.474.115c.358.084.628.218.812.402.184.18.276.448.276.8v.214c0 .475-.117.815-.349 1.022-.232.207-.619.31-1.16.31zm3.35 0c-.493 0-.847-.106-1.061-.317-.215-.212-.333-.56-.356-1.046a6.19 6.19 0 01.007-.497h1.003a21.556 21.556 0 000 .62c.008.138.046.236.115.295a.445.445 0 00.291.088c.158 0 .273-.03.345-.088.071-.059.107-.157.107-.295v-.245a.327.327 0 00-.058-.195c-.035-.056-.098-.096-.187-.119l-.544-.153a2.501 2.501 0 01-.593-.249 1.069 1.069 0 01-.383-.379 1.108 1.108 0 01-.134-.566v-.215c0-.495.112-.85.337-1.064.224-.214.612-.322 1.164-.322.497 0 .85.104 1.06.31.21.207.325.548.348 1.023a3.618 3.618 0 01-.008.513h-1.04c.002-.046.003-.113.003-.2.002-.089.002-.176 0-.26 0-.087-.001-.148-.004-.184-.007-.122-.038-.21-.092-.264-.05-.053-.14-.08-.268-.08-.137 0-.234.027-.29.08-.057.054-.087.142-.092.264a2.09 2.09 0 01-.008.123v.176c0 .095.018.175.054.241.035.067.112.114.23.142l.474.115c.357.084.628.218.811.402.184.18.276.448.276.8v.214c0 .475-.116.815-.348 1.022-.232.207-.62.31-1.16.31z" style="-inkscape-font-specification:'Big Shoulders Display, Heavy'" aria-label="Tech press" font-weight="900" font-size="16.933" font-family="Big Shoulders Display" fill="#333" fill-opacity=".929" paint-order="fill markers stroke"/></g></svg>
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a asp-area="Customer" asp-page="/Views/Home/Index">Home</a>
								
							</li>

							<li class="Categories-menu">
								<a href="product.html">Categories</a>
								<ul class="sub-menu">
									<li><a asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a></li>
									<li><a href="home-02.html">Homepage 2</a></li>
									<li><a href="home-03.html">Homepage 3</a></li>
								</ul>
							</li>

							<li class="label1" data-label1="hot">
								<a href="shoping-cart.html">Shop</a>
							</li>

							@* <li>
								<a href="blog.html">Blog</a>
							</li> *@

							<li>
								<a href="about.html">About</a>
							</li>

							<li>
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>

						<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<svg width="135.009" height="30.361" viewBox="0 0 35.721 8.033" xmlns="http://www.w3.org/2000/svg"><g stroke-width="1.41"><path d="M16.696.55a.672.672 0 01.789-.537c.363.074.6.433.527.803a.672.672 0 01-.788.538.683.683 0 01-.53-.801" fill="#e8851b"/><path d="M15.807 2.518c.621-.375.95-.132 1.074 1.227-1.055.967-1.676 1.559-2.65 2.6-.26.327-.32.943.112 1.159.414.153 1.394-.051 1.392-.535-.277-.147-.98-.124-.706-.436.302-.419 1.559-1.489 1.922-1.826.309.883.482 1.34.801 2.179.188.494.527.733.974.612.488-.11.975-.404 1.169-.885-.249-.52-.752.153-1.083.211-.307.042-.463-.656-.547-1.034-.137-.632-.354-1.446-.415-2.078.248-.256.846-.678 1.919-1.853.276-.303.26-.941-.184-1.114-.42-.115-.973.1-1.081.552.228.212.702.45.368.807-.412.44-.908.83-1.07.986-.277-.985-.68-1.867-1.558-1.531-.652.25-1.134.492-1.136.84.018.468.193.497.7.119z" style="-inkscape-font-specification:'MathJax_Caligraphic, Normal'" aria-label="X" font-size="16.933" font-family="MathJax_Caligraphic" fill="#e8851b"/><path d="M1.702 6.502V1.387H0V.377h6.705v1.01H2.85v5.115zm3.529.076c-.523 0-.905-.106-1.145-.317-.24-.212-.373-.56-.402-1.046a9.865 9.865 0 01-.011-.398 42.035 42.035 0 01.011-1.607c.036-.496.171-.849.406-1.06.238-.213.613-.319 1.126-.319.513 0 .885.104 1.117.31.233.207.36.548.383 1.023.003.056.004.155.004.298.003.14.003.296 0 .467 0 .169-.004.324-.011.467H4.818a30.622 30.622 0 00.015.942c.005.138.038.236.1.295.06.058.16.088.298.088.123 0 .21-.03.264-.088.056-.059.088-.157.096-.295.005-.061.007-.147.007-.257 0-.11-.002-.23-.007-.363h1.118a3.516 3.516 0 01.008.498c-.024.484-.151.833-.384 1.045-.23.211-.597.317-1.102.317zm-.413-2.97h.78c0-.092 0-.179-.003-.26 0-.082-.002-.151-.004-.207v-.108c-.008-.122-.041-.21-.1-.264-.056-.053-.148-.08-.275-.08-.133 0-.229.027-.287.08-.06.054-.091.142-.096.264a184.634 184.634 0 00-.015.575zm4.287.069c.003-.046.004-.113.004-.2.002-.089.002-.176 0-.26a2.98 2.98 0 00-.004-.184c-.008-.122-.04-.21-.1-.264-.056-.053-.148-.08-.275-.08-.133 0-.229.027-.287.08-.059.054-.09.142-.096.264a37.377 37.377 0 00-.015 1.16 44.794 44.794 0 00.015 1.145c.005.138.038.236.1.295.06.058.16.088.298.088.123 0 .21-.03.264-.088.056-.059.088-.157.096-.295.005-.061.008-.147.008-.256 0-.11-.003-.231-.008-.364h1.118a3.516 3.516 0 01.008.498c-.024.484-.151.833-.383 1.045-.23.211-.598.317-1.103.317-.523 0-.905-.106-1.144-.317-.24-.212-.374-.56-.402-1.046a9.865 9.865 0 01-.012-.398A42.035 42.035 0 017.2 3.21c.035-.496.17-.849.405-1.06.238-.213.613-.319 1.126-.319.513 0 .885.104 1.118.31.232.207.36.548.382 1.023a3.672 3.672 0 01-.007.513zm1.658 2.825V.377h1.148v2.029h.199c.107-.184.22-.326.337-.425.117-.1.296-.15.536-.15.319 0 .568.1.746.3.181.198.272.53.272.994v3.377h-1.148V3.026c0-.123-.032-.213-.096-.272-.061-.059-.152-.088-.272-.088a.717.717 0 00-.33.092.504.504 0 00-.244.237v3.507zm8.904 1.53V1.909h1.148v.498h.16c.108-.184.22-.326.338-.425.117-.1.296-.15.536-.15.319 0 .566.1.742.3.176.198.276.53.299.994.005.12.009.277.011.471.005.192.008.395.008.609 0 .214-.003.658-.008.852-.002.191-.006.107-.011.227-.023.462-.133.794-.33.996-.196.199-.454.298-.773.298a.77.77 0 01-.444-.13c-.125-.09-.247-.237-.367-.444h-.161v2.029zm1.646-2.288c.12 0 .22-.03.298-.088.08-.059.123-.15.13-.272.01-.15.018-.086.023-.285.005-.2.008-.648.008-.867 0-.22-.003-.434-.008-.643-.005-.21-.012-.397-.023-.563-.007-.123-.038-.213-.092-.272-.053-.059-.14-.088-.26-.088a.717.717 0 00-.33.092.504.504 0 00-.244.237v2.42a.585.585 0 00.195.252c.08.051.18.077.303.077zm2.155.758V1.908h1.148v.574h.2c.022-.227.089-.384.198-.47.11-.09.25-.135.421-.135a2.435 2.435 0 01.33.023v.873h-.314c-.294 0-.5.045-.617.134a.568.568 0 00-.218.364V6.5zm4.046.076c-.523 0-.905-.106-1.145-.317-.24-.212-.373-.56-.402-1.046a9.865 9.865 0 01-.011-.398 42.035 42.035 0 01.011-1.607c.036-.496.171-.849.406-1.06.238-.213.613-.319 1.126-.319.513 0 .885.104 1.117.31.233.207.36.548.383 1.023.003.056.004.155.004.298.003.14.003.296 0 .467 0 .169-.004.324-.011.467H27.1a30.622 30.622 0 00.015.942c.005.138.038.236.1.295.06.058.16.088.298.088.122 0 .21-.03.264-.088.056-.059.088-.157.096-.295.005-.061.007-.147.007-.256 0-.11-.002-.231-.007-.364h1.118a3.516 3.516 0 01.008.498c-.024.484-.151.833-.384 1.045-.23.211-.597.317-1.102.317zm-.413-2.97h.78c0-.092 0-.179-.003-.26 0-.082-.002-.151-.004-.207v-.108c-.008-.122-.041-.21-.1-.264-.056-.053-.148-.08-.275-.08-.133 0-.229.027-.287.08-.06.054-.091.142-.096.264a184.634 184.634 0 00-.015.575zm3.763 2.97c-.493 0-.846-.106-1.06-.317-.215-.212-.334-.56-.357-1.046a5.503 5.503 0 01.008-.497h1.003a21.556 21.556 0 000 .62c.007.138.046.236.115.295a.445.445 0 00.29.088c.159 0 .274-.03.345-.088.072-.059.107-.157.107-.295v-.245a.327.327 0 00-.057-.195c-.036-.056-.098-.096-.188-.119l-.543-.153a2.501 2.501 0 01-.594-.249 1.069 1.069 0 01-.382-.379 1.108 1.108 0 01-.134-.566v-.215c0-.495.112-.85.336-1.064.225-.214.613-.322 1.164-.322.498 0 .851.104 1.06.31.21.207.326.548.349 1.023a3.618 3.618 0 01-.008.513h-1.041c.002-.046.003-.113.003-.2.003-.089.003-.176 0-.26 0-.087-.001-.148-.003-.184-.008-.122-.039-.21-.092-.264-.051-.053-.14-.08-.268-.08-.138 0-.235.027-.291.08-.056.054-.087.142-.092.264a2.09 2.09 0 01-.008.123v.176c0 .095.018.175.054.241.036.067.112.114.23.142l.474.115c.358.084.628.218.812.402.184.18.276.448.276.8v.214c0 .475-.117.815-.349 1.022-.232.207-.619.31-1.16.31zm3.35 0c-.493 0-.847-.106-1.061-.317-.215-.212-.333-.56-.356-1.046a6.19 6.19 0 01.007-.497h1.003a21.556 21.556 0 000 .62c.008.138.046.236.115.295a.445.445 0 00.291.088c.158 0 .273-.03.345-.088.071-.059.107-.157.107-.295v-.245a.327.327 0 00-.058-.195c-.035-.056-.098-.096-.187-.119l-.544-.153a2.501 2.501 0 01-.593-.249 1.069 1.069 0 01-.383-.379 1.108 1.108 0 01-.134-.566v-.215c0-.495.112-.85.337-1.064.224-.214.612-.322 1.164-.322.497 0 .85.104 1.06.31.21.207.325.548.348 1.023a3.618 3.618 0 01-.008.513h-1.04c.002-.046.003-.113.003-.2.002-.089.002-.176 0-.26 0-.087-.001-.148-.004-.184-.007-.122-.038-.21-.092-.264-.05-.053-.14-.08-.268-.08-.137 0-.234.027-.29.08-.057.054-.087.142-.092.264a2.09 2.09 0 01-.008.123v.176c0 .095.018.175.054.241.035.067.112.114.23.142l.474.115c.357.084.628.218.811.402.184.18.276.448.276.8v.214c0 .475-.116.815-.348 1.022-.232.207-.62.31-1.16.31z" style="-inkscape-font-specification:'Big Shoulders Display, Heavy'" aria-label="Tech press" font-weight="900" font-size="16.933" font-family="Big Shoulders Display" fill="#333" fill-opacity=".929" paint-order="fill markers stroke"/></g></svg>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<!-- <a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a> -->
                         <partial name="_LoginPartial" />

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							EN
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							USD
						</a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="index.html">Home</a>
					<ul class="sub-menu-m">
						<li><a href="index.html">Homepage 1</a></li>
						<li><a href="home-02.html">Homepage 2</a></li>
						<li><a href="home-03.html">Homepage 3</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="product.html">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<li>
					<a href="blog.html">Blog</a>
				</li>

				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-01.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-02.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-03.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<!----------------------- test content ----------------------------->





<!----------------------- main content ----------------------------->

<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
</div>












	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>



<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>



    <!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="images/product-detail-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="images/product-detail-01.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="images/product-detail-02.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="images/product-detail-02.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-02.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="images/product-detail-03.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="images/product-detail-03.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-03.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="~/vendor/jquery/jquery.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="~/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/slick/slick.min.js"></script>
	<script src="~/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="~/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="~/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="~/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="~/js/main.js"></script>


<!----------------------Dark mode switsher---------------------------------------->
	<script src="~/js/theme.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>